html, body {
	
	position: relative;
	height: 100%;
}

body {
	
	overflow: hidden;

	>[data-nicolas-component="Viewport"] {

		position: relative;
		height: 100%;

		>div {

			height: 300px;
			line-height: 300px;
			font-size: 72px;
			text-align: center;
		}

		>img {

			display: block;
			width: 100px;
			height: 100px;
			@include border-radius(50%);
			background-color: #f00;
			margin: 0 auto;
		}
	}
}
