@mixin transform-origin($origin) {
	
	-webkit-transform-origin: $origin;
	transform-origin: $origin;

}

@mixin transform-rotate($deg) {
	
	-web-kit-transform: rotate($deg);
	transform: rotate($deg);

}

@mixin transform-scale($scaling) {
	
	-web-kit-transform: scale($scaling);
	transform: scale($scaling);

}