/* line 1, ../sass/_Lib.Element.Init.scss */
body {
  opacity: 0;
}
/* line 3, ../sass/_Lib.Element.Init.scss */
body.ready {
  opacity: 1;
}

/* line 1, ../sass/_Lib.Element.Viewport.scss */
[data-nicolas-type="Viewport"] {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../frameworks/font-awesome-4.4.0/fontawesome-webfont.eot?v=4.4.0");
  src: url("../frameworks/font-awesome-4.4.0/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../frameworks/font-awesome-4.4.0/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../frameworks/font-awesome-4.4.0/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../frameworks/font-awesome-4.4.0/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../frameworks/font-awesome-4.4.0/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/_Lib.Reset.scss */
html, body {
  font-family: sans-serif;
  font-weight: normal;
}

/* line 6, ../sass/_Lib.Reset.scss */
html, body,
h1, h2, h3, h4, h5, h6,
header, article, section, nav, div, footer,
form,
input, textarea,
button {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/_Lib.Reset.scss */
img,
input, textarea,
button {
  border: 0;
}

/* line 22, ../sass/_Lib.Reset.scss */
*:focus {
  outline: none;
}

/* line 26, ../sass/_Lib.Reset.scss */
input, textarea {
  font-family: inherit;
  font-size: inherit;
}

@keyframes rotating {
  from {
    -web-kit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -web-kit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 26, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 32, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 100%;
  padding: 0 5%;
  background-color: #fff;
  z-index: 1;
}
/* line 44, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article.is-current-slide {
  z-index: 0;
}
/* line 50, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article.sliding {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 56, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > header {
  position: relative;
  width: 100%;
  height: 42px;
  padding: 30px 0 20px 0;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
/* line 66, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > header > span {
  line-height: 42px;
  padding: 7px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 3%;
}
/* line 76, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > header > span:last-child {
  margin-right: 0;
}
/* line 84, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > article {
  position: relative;
  width: 100%;
}
/* line 89, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > article > section:nth-of-type(1) {
  width: 100%;
  height: 160px;
  border-radius: 25px;
  background-color: #000;
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 98, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > article > section:nth-of-type(1) > img {
  width: 100%;
  height: 160px;
  border-radius: 25px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -web-kit-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 107, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > article > section:nth-of-type(1) > img.enlarging {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 117, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > article > section:nth-of-type(2) {
  position: relative;
  width: 100%;
  height: 146px;
  font-size: 18px;
}
/* line 124, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > article > section:nth-of-type(2) > div {
  position: absolute;
  width: 100%;
  height: 48px;
  line-height: 24px;
  opacity: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 133, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > article > section:nth-of-type(2) > div.showup {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 141, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > article > section:nth-of-type(2) > div:nth-of-type(1) {
  top: 50px;
}
/* line 147, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article > article > section:nth-of-type(2) > div:nth-of-type(2) {
  top: 118px;
}
/* line 159, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > article > article:first-child {
  top: 0;
}
/* line 167, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > section {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 50%;
  border: 4px solid #ebebeb;
  background-color: #676767;
  color: #fff;
  font-size: 16px;
  text-align: center;
  z-index: 999;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
/* line 184, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > section.on-playing {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
/* line 193, ../sass/app.banner.Vertical.scss */
[data-nicolas-type="Viewport"] > section:before {
  font-family: FontAwesome;
  content: '\f001';
}
